---
---

@import "{{ site.theme }}";

body {
  background: #FADADD;
  color: #FB84C7;
}

header {
  border-bottom: #80b418;
}

header h1 {
  color:#80b418;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  color: #80b418;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

.btn {
  color: rgba(251, 131, 199, 0.8);
  background: -webkit-linear-gradient(top, rgba(251, 131, 199, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
}
